[submodule "UBC/Data Abstraction/intro-to-softconst-lecture-starters"]
	path = UBC/Data Abstraction/intro-to-softconst-lecture-starters
	url = https://github.com/UBCx-Software-Construction/intro-to-softconst-lecture-starters.git
