{% extends "layout.html" %}

{% block heading %}
    Second Page
{% endblock %}

{% block body %}
    <p>
        This is just more placeholder text but the problem is that I STILL don't know latin.
    </p>

    <a href="{{ url_for('index') }}"> Go back</a>
{% endblock %}



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->
    <!--<h1>Second Page</h1>-->

    <!--<p>-->
        <!--This is just more placeholder text but the problem is that I STILL don't know latin.-->
    <!--</p>-->

    <!--<a href="{{ url_for('index') }}"> Go back</a>-->
<!--</body>-->
<!--</html>-->